<div class="category-nav">
    <div class="mstr-nav-wrapper">
      <nav>
        <ul class="main-categories">
          <li><a href="/category/elektronik" class="main-category-header">ELEKTRONİK</a></li>
          <li><a href="/category/moda" class="main-category-header">MODA</a></li>
          <li><a href="/category/ev-ofis" class="main-category-header">EV & OFİS</a></li>
          <li><a href="/category/oto-yapi-market" class="main-category-header">OTO & YAPI MARKET</a></li>
          <li><a href="/category/anne-cocuk" class="main-category-header">ANNE & ÇOCUK</a></li>
          <li><a href="/category/spor-outdoor" class="main-category-header">SPOR & OUTDOOR</a></li>
          <li><a href="/category/kisisel-bakm-kozmetik" class="main-category-header">KİŞİSEL BAKIM & KOZMETİK</a></li>
          <li><a href="/category/kitap-hobi" class="main-category-header">KİTAP & HOBİ</a></li>
          <li><a href="/category/supermarket" class="main-category-header">SÜPERMARKET</a></li>
        </ul>
      </nav>
    </div>
</div>