{% extends 'base.html' %}
{% block title %}Giriş Yap - MyStore{% endblock title %}
{% block content %}
<div class="mstr-container">
	<div class="login-form-div">
		<h1>Giriş Yap</h1>
		<form method="POST" class="login-form">
			{% csrf_token %}
			<label for="id_email">Email</label>
			{{form.email}}
			<label for="id_password">Şifre</label>
			{{form.password}}
			<button class="mstr-btn mstr-btn-primary form-sbmt-button" type="submit">GİRİŞ YAP</button>
		</form>
		<a href="#" class="forgot-password">Şifremi Unuttum</a>
		<p>Hesabınız yok mu? <a href="/register{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">Kayıt ol</a></p>
	</div>		
</div>
{% endblock content %}