{% extends 'base.html' %}
{% block title %}{{request.GET.q}} ürünleri - MyStore{% endblock title %}
{% block body_header %}{% include "categoryNav.html" %}{% endblock body_header %}
{% block content %}
<div class="mstr-container">
    <div class="mstr-grid-row mstr-mt-20">
        {% for product in products %}
            {% include "productCard.html" with product=product %}
        {% empty %}
            <h2>"{{request.GET.q}}" aramasına uygun ürün bulunamadı.</h2>
        {% endfor %}
    </div>
</div>
{% endblock content %}
{% block body_script %}
<script>
    $(".nav-search-input").val("{{request.GET.q}}");
</script>
{% endblock body_script %}