{% extends 'base.html' %}
{% block title %}Kullanıcı Bilgilerim - MyStore{% endblock title %}
{% block content %}
<div class="mstr-container">
    <div class="profile-row">
        <div class="left-side">
            <div class="left-layout-wrapper">
                <h4>Hesabım</h4>
                <a href="/profile/orders" class="left-layout-item">
                    <i class="fa fa-box fa-fw"></i>
                    <span>Siparişlerim</span>
                </a>
                <a href="/profile" class="left-layout-item active">
                    <i class="fa fa-user-gear fa-fw"></i>
                    <span>Kullanıcı Bilgilerim</span>
                </a>
                <a href="/profile/address" class="left-layout-item">
                    <i class="fa fa-location-dot fa-fw"></i>
                    <span>Adres Bilgilerim</span>
                </a>
            </div>
        </div>
        <div class="right-side">
            <div class="profile-user-forms">
                <div>
                    <h1 class="profile-form-header">Üyelik Bilgilerim</h1>
                    <form method="POST" name="profileForm" class="user-info-form" onsubmit="return ValidateForm();">
                        {% csrf_token %}
                        <div class="mstr-flex-row mstr-space-between mstr-form-input-row">
                            <div class="mstr-flex-col">
                                <label for="firstname">Ad</label>
                                <input type="text" name="firstname" value="{{request.user.user_account.name}}" autocomplete="off" required>
                            </div>
                            <div class="mstr-flex-col">
                                <label for="lastname">Soyad</label>
                                <input type="text" name="lastname" value="{{request.user.user_account.lastname}}" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="mstr-flex-col">
                            <label for="email">E-Posta</label>
                            <input type="email" name="email" value="{{request.user.email}}" autocomplete="off" required>
                        </div>
                        <div class="mstr-flex-col">
                            <label for="id_phone">Telefon</label>
                            <input type="tel" name="phone" id="id_phone" value="{{request.user.user_account.phone}}" autocomplete="off" maxlength="19" required>
                        </div>
                        <div class="mstr-flex-col">
                            <label>Doğum Tarihi</label>
                            <div class="reg-form-dob">
                                <div>
                                    <select name="dob_day" id="id_dob_day" required>
                                    </select>
                                    <select name="dob_month" id="id_dob_month" required>
                                        <option value="1">Ocak</option>
                                        <option value="2">Şubat</option>
                                        <option value="3">Mart</option>
                                        <option value="4">Nisan</option>
                                        <option value="5">Mayıs</option>
                                        <option value="6">Haziran</option>
                                        <option value="7">Temmuz</option>
                                        <option value="8">Ağustos</option>
                                        <option value="9">Eylül</option>
                                        <option value="10">Ekim</option>
                                        <option value="11">Kasım</option>
                                        <option value="12">Aralık</option>
                                    </select>
                                    <select name="dob_year" id="id_dob_year" required>
                                    </select>
                                </div>
                                
                            </div>
                        </div>
                        <div class="mstr-flex-col">
                            <label for="gender">Cinsiyet <span class="mstr-span-opsiyonel">(opsiyonel)</span></label>
                            <div class="gender-div">
                                <label for="gender_E">
                                    <input type="radio" name="gender" id="gender_E" value="E">
                                    <span>Erkek</span>
                                </label>
                                <label for="gender_K">
                                    <input type="radio" name="gender" id="gender_K" value="K">
                                    <span>Kadın</span>
                                </label>
                            </div>
                        </div>
                        <p class="errorMessage" id="errorMessage"></p>
                        <button type="submit" id="profileButton" class="profile-form-button" disabled>BİLGİLERİ GÜNCELLE</button>
                    </form>
                </div>
                <div>
                    <h1 class="profile-form-header">Şifre Değiştirme</h1>
                    <form method="POST" name="sfForm" class="user-info-form" onsubmit="return ValidateSfForm();">
                        {% csrf_token %}
                        <div class="mstr-flex-col">
                            <label for="oldSf">Mevcut Şifre</label>
                            <input type="password" name="oldPassword" id="oldSf" autocomplete="off" required>
                        </div>
                        <div class="mstr-flex-col">
                            <label for="newSf">Yeni Şifre</label>
                            <input type="password" name="newPassword" id="newSf" autocomplete="off" required>
                        </div>
                        <p class="errorMessage" id="errorMessageSf"></p>
                        <button type="submit" id="sfButton" class="profile-form-button" disabled>GÜNCELLE</button>
                    </form>
                </div>
            </div>  
        </div>
    </div>
</div>
{% endblock content %}
{% block body_script %}
<script>
    let day_select = document.getElementById("id_dob_day");
    let year_select = document.getElementById("id_dob_year");
    document.getElementById("id_phone").addEventListener('keydown', enforceFormat);
    for (let i = 1; i < 32; i++){
        day_select.options[day_select.options.length] = new Option(''+i,''+i);
    }
    for (let i = 2021; i > 1900; i--){
        year_select.options[year_select.options.length] = new Option(''+i,''+i);
    }
    day_select.value = "{{request.user.user_account.dob|date:'j'}}";
    year_select.value = "{{request.user.user_account.dob|date:'Y'}}";
    document.getElementById("id_dob_month").value = "{{request.user.user_account.dob|date:'n'}}";

    
    function ValidateForm() {
        let phone = document.getElementById("id_phone").value;
        let errMessage = document.getElementById("errorMessage");
        if (!checkPhoneNumber(phone)){
            errMessage.style.display = "inline-block";
            errMessage.innerHTML = "Telefon numarası yanlış biçimde girildi!";
            return false;
        }
        return true
    }

    function ValidateSfForm() {
        let errMessage = document.getElementById("errorMessageSf");
        if (document.getElementById("newSf").value.length < 8) {
            errMessage.style.display = "inline-block";
            errMessage.innerHTML = "Şifreniz 8 karakterden az olamaz!";
            return false;
        }
        return true;
    }
</script>
<script>
    $('form[name="profileForm"]').on('input', function (){
        $('#profileButton').prop('disabled',false);
    });

    $('form[name="sfForm"]').on('input', function (){
        $('#sfButton').prop('disabled',false);
    });

    {% if request.user.user_account.gender %}
        $("input[name='gender']").val(["{{request.user.user_account.gender}}"]);
    {% endif %}
</script>
{% endblock %}